.background {
position: relative;
  background-color: black;
  
}



.background-image {
    width: 375px;
    height: 667px;
    margin-top: 0;
    margin-left: 500px;
    margin-right: 500px;
    display: flex;
    justify-content: center;
}

.description-text {
    position: absolute;    
    font-size: 40px;
    width: 50px;
    font-family: arial;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 530px;
    margin-right: 500px;
    top: 180px;
    left: 60px;
}

.input-container {
    position: absolute;
}